/*Main Stylesheet for index.html*/
body {
  background-image: url(./algae-vertical.png);
  background-repeat: repeat;
  font-family: serif;
}

#container {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 800px;
  border-radius: 5px;
  overflow: hidden;
}

.float {
  width: 33%;
  float: left;
}

.grandTotal {
  clear: both;
  text-align: center;
}

.float h3 {
  margin-left: 20px;
  font-family: serif;
}

h1 {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  color: #002222;
}

h2 {
  color:#117766;
}

h2.projections {
  margin-left: 20px;
  font-family: 'Slabo 27px', serif;
}

li {
  font-family: serif;
}

li.total{
  padding-top:5px;
}
