/*Main Stylesheet for index.html*/
body {
  background-image: url(./algae-vertical.png);
  background-repeat: repeat;
  font-family: serif;
}

#container {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 800px;
  border-radius: 5px;
  overflow: hidden;
}

.float {
  width: 33%;
  float: left;
}

.float h3 {
  margin-left: 20px;
}

.grandTotal {
  clear: both;
  text-align: center;
}

h3 {
  font-family: serif;
}

h1 {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  color: #002222;
}

h2 {
  color:#117766;
}

h2.projections {
  margin-left: 20px;
  font-family: 'Slabo 27px', serif;
}

li {
  font-family: serif;
}

li.total {
  padding-top:5px;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

a, a:visited {
  color:#002222;
  font-weight: bold;
}

a:hover {
  color: #0088cc;
}

/* For the Style Guide */

p.colors {
  margin-left: 20px;
  margin-right: 500px;
}

ul.colorList {
  width: 100px;
}

span.color {
  color: white;
  padding-left: 10px;
}

li.color1 {
  background-color: #002222
}

li.color2 {
  background-color: #117766
}

li.color3 {
  background-color: #0088cc
}

li.color4 {
  background-color: #00aaee
}

li.color5 {
  background-color: #88bb22
}
